<!DOCTYPE html>
<html>
<head>
  <title>Expense Tracker - About</title>
  <link rel="stylesheet" href="about.css">
</head>
<body>
  <div class="container">
    <h1>About Expense Tracker</h1>
    <p>Welcome to Expense Tracker, a web application that helps you keep track of your expenses. It's designed to make managing your finances easier by providing a simple and intuitive interface for recording and categorizing your expenses.</p>
    <p>With Expense Tracker, you can create expense categories, add new expenses, view and analyze your spending patterns, and generate reports to gain insights into your financial habits.</p>
    <p>Our goal is to provide you with a convenient tool to monitor your expenses and make informed decisions about your finances. Whether you're an individual, a freelancer, or a small business owner, Expense Tracker is here to assist you in managing your expenses effectively.</p>
    <p>The expence tracker application have premimum membership feature if you buy premium you can able to see leaderbord and you can DOWNLOAD your EXPENSE REPORT which costs only RS-299/- ONLY</p>
    <p>If you have any questions, feedback, or suggestions, please feel free to contact us. We appreciate your support and hope you find Expense Tracker useful!</p>
  </br>
  <P><h1>About Developer</h1>Mohammed Asif Raza studied from KNS INSTITUTE OF TECHNOLOGY BANGLORE.</br>BE(COMPUTER SCEINCE AND ENGINEERING)<h5>Contact@info:--masifraza.asif@gmail.com</br>Phone number:--9353580260</h5><h3>Backend Developer</h3></P>
  <a href="https://userexpence.s3.ap-south-1.amazonaws.com/asif+new+resume.pdf"class="back-button">SEE RESUME & HIRE</a>
  </div>
  <footer class="footer">
    &copy; 2023 Expense Tracker. Developed by MOHAMMED ASIF RAZA.
  </footer>
</body>
</html>
