<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Expense Tracker</title>
  <link rel="stylesheet" type="text/css" href="frontpage.css">
    
</head>
<body>
  <header>
    <h1>Expense Tracker</h1>
  </header>

  <div class="welcome-section">
    <h2>Welcome to Expense Tracker!</h2>
    <p>Track your expenses and manage your finances easily.</p>

    <div class="buttons-container">
      <a href="/signup" class="button">Register</a>
      <br>
      <a href="/login" class="button">Login</a>
    </div>
  </div>

  <footer class="footer">
    &copy; 2023 Expense Tracker. Developed by MOHAMMED ASIF RAZA.
  </footer>
</body>
</html>
