<!DOCTYPE html>
<html>
<head>
  <title>Sign In</title>
  <link rel="stylesheet" type="text/css" href="/login.css">
</head>
<body>
  <div class="container">
    <h1>Sign In</h1>
    <form action="/login" method="post">
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Password" required>
      <div class="buttons">
        <input type="submit" value="Log In">
        <a href="forgotpass">Forgot password?</a>
      </div>
    </form>
    <p>New user? <a href="/signup">Register here</a></p>
  </div>

  <footer class="footer">
    &copy; 2023 Expense Tracker. Developed by MOHAMMED ASIF RAZA.
  </footer>
</body>
</html>
