body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
}

h1 {
  text-align: center;
  color: #860c96;
}

p {
  margin-bottom: 20px;
  color: #07422dec;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.back-button {
  display: inline-block;
  background-color: #a3b9eb;
  color: #333;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.back-button:hover {
  background-color: #ddd;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 5px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Media Queries */

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  .container {
    padding: 20px;
  }

  h1 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }

  .back-button {
    font-size: 14px;
  }

  .footer {
    font-size: 12px;
  }
}

/* Tablet and Desktop Styles */
@media only screen and (min-width: 601px) {
  h1 {
    font-size: 32px;
  }

  p {
    font-size: 18px;
  }

  .back-button {
    font-size: 16px;
  }

  .footer {
    font-size: 14px;
  }
}
