body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #aaccab;
}

h1 {
  margin-top: 0;
  color: rgb(212, 107, 115);
}

.container {
  max-width: 400px;
  margin: 0 auto;
  color: #225585;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group textarea {
  height: 100px;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #e9b62a;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #769c2e;
}

.back-btn {
  margin-top: 20px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 35px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Media Queries */

/* Mobile */
@media (max-width: 767px) {
  body {
    padding: 10px;
  }

  .container {
    max-width: 100%;
    margin: 0 auto;
  }

  .form-group input,
  .form-group textarea {
    width: 100%;
  }
}

/* Desktop */
@media (min-width: 768px) {
  .container {
    max-width: 800px;
  }
}
